In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("company_data.csv")

In [7]:
df.head(2)

  Company  Job Degree Salary
0  Google  SDE  BTech   High
1  Google  SDE  MTech   High

In [8]:
df.tail(2)

   Company      Job Degree Salary
6      TCS  Analyst   BCom    Low
7  Infosys   Tester    BSc    Low